body {
  color: #000000;
  margin: 0;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

h1 {
  color: #66BFBF;
  font-family: 'Satisfy', cursive;
  font-size: 5.50rem;
  margin: 50px auto 0 auto;
}

h2 {
  color: #66BFBF;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999E;
  font-family: 'Dosis', sans-serif;
}

hr {
    border: 6px dotted silver;
    border-bottom: none;
    width: 5%;
}

p {
  line-height: 2;
}

.cropped {
  width: 250px;
}

.top-container {
  background-color: #e8ffff;
  position: relative;
  padding-top: 150px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  background-color: #66BFBF;
}

.botom-cloud {
  position: absolute;
  bottom: 350px;
  left: 170px;
  width: 200px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
  width: 200px;
}
.cloud{
  position: absolute;
  left: 0;
  bottom: 600px;
  width: 100px;
}
.to-cloud{
  position: absolute;
  left: 400px;
  top: 0;
  width: 30px;
}
.t-cloud{
  position: absolute;
  right: 60px;
  top: 70px;
  width: 50px;
}

.mountain {
  width: auto;
  height: auto;
}

.fa {
  border-radius: 100%;
  color: white;
  padding: 15px;
  width: 15px;
  transition-duration: 0.35s;
  margin: 15px;
  text-decoration: none;
}

.fa:hover {
  transform: rotate(360deg);
  transition-duration: 0.35s;
}
.fa-linkedin {
    background: #007bb5;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-quora{
  background: #bb2205;
}

.skill-row {
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;

}
.codes-row{
  width: 60%;
  margin:100px auto 100px auto;
  text-align: left;

}
.computer {
  float: left;
  margin-right: 30px;
  width: 35%;
}

.pepper {
  float: right;
  margin-left: 30px;
  width: 35%;
}

.BUTTON_IBU {
   background: #11CDD4;
   background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
   background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
   background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
   background-image: -o-linear-gradient(top, #11CDD4, #11999E);
   background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: 'Dosis', sans-serif;
   font-size: 20px;
   font-weight: 100;
   padding: 10px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_IBU:hover {
   border: solid #337FED 1px;
   background: #30E3CB;
   background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
   background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.courtesy {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-bottom: 0;
  padding: 20px 0;
}

.desc {
  width: 50%;
  margin: auto;
}
.html{
  float: left;
  margin-right: 30px;
}
.css{
  float: right;
  margin-left: 30px;
}
.js{
  float: left;
  margin-right: 30px;
}
.python{
  float: right;
  margin-left: 30px;
}
.humour{
  font-size: 17px;
}
